body {
    margin: 0;
}

header {
    background-color: red;
    height: 4rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h3 {
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 20px;
}

.container {
    text-align: center;
}

#btn-Check {
    margin-top: 10px;
    cursor: pointer;
}

.output {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 0px;
    background-color: red;
    width: 100%;
    bottom: 0%;
    position: fixed;
    padding-bottom: 20px;
    border-top-right-radius: 10px;
}

.links {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
}